body {
    font-family: Arial, sans-serif;
    background-image: url("bg.jpeg");
    background-attachment: scroll;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: 0;
}

.bold {
    font-weight: bold;
}

.container {
    position: sticky;
    margin: auto;
    right: 2.5%;
    bottom: 25px; /* Adjust the value based on your design */
    border: 5px solid gold;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: x-large;
    width: 40%;
}

.rebirthclass {
    position: fixed;
    top: 5%;
    font-family: 'Snell Roundhand Script';
    bottom: 25px; /* Adjust the value based on your design */
    border: 5px solid gold;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: x-large;
    width: 40%;
    display: none;
}

.tooltip {
    visibility: hidden;
    width: 150px;
    background-color: black;
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 2;
    bottom: -10px; /* Adjust this value to position the tooltip slightly above the image */
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
}


.tooltip.show {
    visibility: visible;
    opacity: 1;
}


.upgrades {
    border: 5px solid #4CAF50;
    position: sticky;
    bottom: 0;
    right: 2.5%;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    width: 20%;
    margin: auto;
}

.descriptions1 {
    display: block;
}

.descriptions2 {
    display: none;
}

.upgrades2a {
    border: 5px solid #4CAF50;
    position: sticky;
    bottom: 0;
    right: 2.5%;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    width: 20%;
    margin: auto;
}

.image-container {
    text-align: center;
    display: inline-block;
    position: relative; /* Added position relative to enable absolute positioning of tooltip */
    margin: 20px; /* Optional: Add some margin around the image container */
}

.tooltip {
    visibility: hidden;
    font-size: smaller;
    width: 90%;
    background-color: black;
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 2;
    bottom: -10px; /* Adjust this value to position the tooltip slightly above the image */
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s ease-in-out; /* Added transition for opacity */
}

.image-container:hover .tooltip {
    visibility: visible;
    opacity: 1;
}
