:root {
    --primary-color: #ffffff;
    --secondary-color: #b6b6b6;
    --font-color: #ffffff;
    --heading-color: #ffffff;
    --link-color: rgb(166, 196, 255);
    --hover-color: rgba(0, 0, 0, 0.4);
    background: linear-gradient(-45deg, #0b57d9, #016a14, #0b57d9);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.content-main {
    margin-left: calc( (100% - min(90vw, max(8in, min(100vh, 90vw)))) * 0.5); 
    margin-right:calc( (100% - min(90vw, max(8in, min(100vh, 90vw)))) * 0.5); 
    padding-bottom: 60vh;
}

.thumbnail {
    width: 4em;
    height: 4em;
    border: 0px solid var(--primary-color);
    border-radius: 4px;
}

.post-preview {
    overflow: hidden; 
    margin: 10px 0 10px 0; 
    background-color: rgba(0, 0, 0, 0.1);;
    border: 2px solid var(--secondary-color); 
    border-radius: 4px; 
    min-height: auto;
}

.post-preview:hover {
    background-color: var(--hover-color);
    border: 2px solid var(--primary-color);
}

.home-button {
    position: absolute;
    top: 18px;
    left: 18px;
    font-size: 1.5em;
    color: var(--heading-color, #fff);
    text-decoration: none;
    background: rgba(0,0,0,0.15);
    padding: 0.15em 0.4em;
    border-radius: 7px;
    z-index: 100;
    transition: background 0.2s;
}
.home-button:hover {
    background: rgba(0,0,0,0.35);
}

.gold {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    --tborder-color: #000000;
    text-shadow: 
        -1px -1px 0 var(--tborder-color), /* Top-left shadow */
        1px -1px 0 var(--tborder-color),  /* Top-right shadow */
        -1px 1px 0 var(--tborder-color),  /* Bottom-left shadow */
        1px 1px 0 var(--tborder-color);   /* Bottom-right shadow */
}

body {
    background-color: var(--bg-color);
    color: var(--font-color);
}

hr {
    border: none;
    border-top: 8px solid var(--heading-color);
    color: var(--heading-color);
    overflow: visible;
    text-align: center;
    height: 5px;
}

img {
    width: 100%;
}

ul {
    list-style-type: square;
}

pre {
    overflow-x: scroll;
}

p {
    line-height: 1.6;
}

tbody {
    font-size: small;
}

td {
    padding: 0 1em 0 1em;
}

table {
    margin-left: auto;
    margin-right: auto;
}

nav a {
    color: var(--heading-color);
    font-weight: bold;
    text-decoration: none;
}

p > a {
    color: var(--link-color);
    text-decoration: none;
    padding-bottom: 1px;
    border-bottom: solid var(--link-color) 4px;
}